<a href="https://colab.research.google.com/github/lbusatto/otros/blob/main/examen%20airbnb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd 
import numpy as np
lis = pd.read_csv('https://raw.githubusercontent.com/al34n1x/DataScience/master/100.Examen/2021/examen_listado.csv')
rev = pd.read_csv('https://raw.githubusercontent.com/al34n1x/DataScience/master/100.Examen/2021/examen_reviews.csv')

<ipython-input-1-db9885636279>:3: DtypeWarning: Columns (0,13,21,24,25,32,35,40,53,54,59,70,71,72,74) have mixed types. Specify dtype option on import or set low_memory=False.
  lis = pd.read_csv('https://raw.githubusercontent.com/al34n1x/DataScience/master/100.Examen/2021/examen_listado.csv')

In [25]:
dflis = pd.DataFrame(lis[:])
dfrev = pd.DataFrame(rev[:100])

In [ ]:
lis.columns

In [ ]:
display(dflis)
display(dfrev)

In [ ]:
#borro nulos de review_scores_rating
dflis = dflis.dropna(subset=['review_scores_rating'])
dflis.reindex()

In [35]:
#selecciono las que creo importantes para analizar
lisinteres = ['id', 'property_type', 'host_identity_verified', 'zipcode', 'city', 'price', 'number_of_reviews', 'review_scores_rating', 'reviews_per_month', 'review_scores_value']
dflis = dflis[lisinteres]

In [ ]:
#cuenta la cantidad de veces que aparece cada ciudad
avg_ratings = dflis.groupby('city')['review_scores_rating'].mean().sort_values(ascending = False)
result = avg_ratings.groupby('city').agg(['mean', 'count'])
grouped_counts = dflis['city'].value_counts().sort_values(ascending=False)
grouped_counts[:20]

In [ ]:
#unifico las ciudades que mas aparecen y sus zipcode
dflis['city'] = dflis['city'].str.lower()
dflis['city'] = dflis['city'].replace(['alcúdia'], 'alcudia')
dflis['city'] = dflis['city'].replace(['pollensa / pollença', 'port de pollença', 'pollença'], 'pollensa') #unifico algunas de las mas nombradas
dflis['city'] = dflis['city'].replace(['palma de mallorca'], 'palma')
dflis.loc[dflis['city'] == 'palma', 'zipcode'] = '07015' #unifico zipcodes
dflis.loc[dflis['city'] == 'pollensa', 'zipcode'] = '07460'
#borro nulos de review_scores_rating
dflis = dflis.dropna(subset=['review_scores_rating', 'price'])
dflis = dflis.reindex()
dflis

In [34]:
#convierto 'price' a flotante para poder trabajarlo y borro nulos
dflis['price'] = dflis['price'].replace({'\$': '', ',': '', '.00': ''}, regex=True)
dflis['price'] = pd.to_numeric(dflis['price'], errors='coerce')
dflis = dflis.dropna(subset=['price'])

In [ ]:
#obtengo cantidad de cada tipo de alojamientos
dflis['property_type'].value_counts()

In [49]:
from pandas._libs.hashtable import value_count
#promedio de precios por tipo de alojamiento y cantidad de muestras
dflis.groupby('property_type')['price'].agg(['mean', 'count']).sort_values(by='count', ascending=False)

                              mean  count
property_type
House                   162.912228   2985
Apartment                86.778293   2156
Villa                   219.135471   1934
Cottage                 164.697248    545
Chalet                  188.325137    366
Townhouse               128.082609    230
Condominium              99.292308    195
Bed and breakfast        90.063830     94
Guesthouse               95.511628     86
Serviced apartment      127.107692     65
Loft                    105.906250     64
Guest suite              86.209677     62
Boutique hotel          161.372549     51
Bungalow                137.552632     38
Hostel                   95.517241     29
Farm stay               185.833333     18
Camper/RV                68.411765     17
Hotel                    96.500000     16
Boat                    212.923077     13
Other                   111.769231     13
Castle                  237.500000     10
Cabin                   108.375000      8
Casa particular (Cuba)   86.714286      7
Aparthotel              101.000000      6
Earth house             159.833333      6
Nature lodge            151.000000      5
Tiny house               50.200000      5
Resort                  139.666667      3
Vacation home           112.000000      2
Hut                      42.000000      2
4                        11.000000      1
Tent                     90.000000      1
Windmill                176.000000      1

In [31]:
value_counts = dflis['city'].value_counts()
count_once = len(value_counts[value_counts == 1])
count_once #cuenta cantidad de ciudades que aparecen una sola vez

340

In [ ]:
lis

In [ ]:
statefilt = lis[['city', 'review_scores_rating']]
filtrado = statefilt.value_counts()[:]
filtrado = filtrado.groupby('city')['review_scores_rating'].mean()
filtrado
#statefilt = statefilt.groupby('city').mean().sort_values(by='review_scores_rating', ascending=True)[:30]
#filtrado.city.unique()

In [ ]:
filtered_df = statefilt.loc[statefilt['city'] == 'palma']
filtered_df = filtered_df.dropna(subset=['review_scores_rating'])
filtered_df['review_scores_rating'][:50]

In [280]:
filtered_df = statefilt.loc[statefilt['city'] == 'manacor']
filtered_df = filtered_df['review_scores_rating'].mean()
filtered_df

95.63942307692308

In [146]:
prom = dflis.groupby(['zipcode', 'city'])['number_of_reviews'].count()
prom = prom.groupby('city').agg('value_counts').sort_values(ascending=False)
prom

city            number_of_reviews
Illes Balears   1                    33
Islas Baleares  1                    20
Illes Balears   2                    17
Mallorca        1                    14
Illes Balears   3                    12
                                     ..
Esporles        52                    1
                1                     1
Esporlas        1                     1
Esporlas        3                     1
• Alcúdia       2                     1
Name: number_of_reviews, Length: 1282, dtype: int64